@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
body {
  font-family: "League Spartan", sans-serif;
  font-size: 15px;
  height: 100vh;
  width: 100vw;
}
body .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  max-width: 375px;
}
@media only screen and (min-width: 1200px) {
  body .container {
    max-width: 100%;
  }
}
body .container header {
  background-color: hsl(180deg, 29%, 50%);
  background-image: url(../images/bg-header-mobile.svg);
  background-repeat: no-repeat;
  height: 156px;
  position: relative;
  width: 100%;
}
@media only screen and (min-width: 1200px) {
  body .container header {
    background-color: hsl(180deg, 29%, 50%);
    background-image: url(../images/bg-header-desktop.svg);
    background-repeat: no-repeat;
  }
}
body .container header .filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translate(-50%);
  background-color: white;
  border-left: 5px solid transparent;
  border-radius: 10px;
  box-shadow: 1px 18px 20px 2px rgba(123, 142, 142, 0.59);
  -webkit-box-shadow: 1px 18px 20px 2px rgba(123, 142, 142, 0.59);
  -moz-box-shadow: 1px 18px 20px 2px rgba(123, 142, 142, 0.59);
  margin: 0 auto;
  padding: 1em;
  width: 80%;
}
body .container header .filter .filter-input {
  margin-bottom: 20px;
}
body .container header .filter .filter-input::-moz-placeholder {
  padding-left: 0.5em;
}
body .container header .filter .filter-input:-ms-input-placeholder {
  padding-left: 0.5em;
}
body .container header .filter .filter-input::placeholder {
  padding-left: 0.5em;
}
@media only screen and (min-width: 1200px) {
  body .container header .filter .filter-input {
    border: 1px solid hsl(180deg, 29%, 50%);
    border-radius: 10px;
    font-family: inherit;
    font-size: inherit;
    height: 30px;
    width: 25%;
  }
}
body .container header .filter .wrapper-filter {
  display: flex;
  justify-content: space-between;
}
body .container header .filter .wrapper-filter .filter-item {
  background-color: hsl(180deg, 31%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
body .container header .filter .wrapper-filter .filter-item span {
  border-radius: 5px 0 0 5px;
  color: hsl(180deg, 29%, 50%);
  font-weight: 700;
  padding: 0.33em 0.625em;
}
body .container header .filter .wrapper-filter .filter-item img {
  background-color: hsl(180deg, 29%, 50%);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  padding: 0.25em;
}
body .container header .filter .wrapper-filter .clear {
  color: hsl(180deg, 8%, 52%);
  cursor: pointer;
  font-weight: 700;
}
body .container main {
  display: flex;
  justify-content: center;
  background-color: hsl(180deg, 52%, 96%);
  width: 100%;
}
body .container main .item-job {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: white;
  border-left: 5px solid transparent;
  border-radius: 10px;
  box-shadow: 1px 18px 20px 2px rgba(123, 142, 142, 0.59);
  -webkit-box-shadow: 1px 18px 20px 2px rgba(123, 142, 142, 0.59);
  -moz-box-shadow: 1px 18px 20px 2px rgba(123, 142, 142, 0.59);
  cursor: pointer;
  margin-top: 4em;
  padding: 1em;
  transition: all 250ms ease-in-out;
  width: 80%;
}
body .container main .item-job:hover, body .container main .item-job:focus {
  border-left: 5px solid hsl(180deg, 29%, 50%);
  transform: translateY(-2px);
}
@media only screen and (min-width: 1200px) {
  body .container main .item-job {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3em;
  }
}
body .container main .item-job img {
  position: absolute;
  top: -25px;
  width: 50px;
}
@media only screen and (min-width: 1200px) {
  body .container main .item-job img {
    position: unset;
    justify-items: center;
    width: 90px;
  }
}
body .container main .item-job .left-side div {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1.5em;
}
body .container main .item-job .left-side div span {
  border-radius: 10px;
  color: white;
  margin-right: 0.5em;
  padding: 0.3em 0.5em;
}
body .container main .item-job .left-side div .company-name {
  color: hsl(180deg, 29%, 50%);
  font-size: 1em;
  font-weight: 700;
  margin-right: 1em;
}
body .container main .item-job .left-side div .new {
  background-color: hsl(180deg, 29%, 50%);
}
body .container main .item-job .left-side div .featured {
  background-color: black;
}
body .container main .item-job .left-side .position {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1em;
}
body .container main .item-job .left-side .position:hover, body .container main .item-job .left-side .position:focus {
  color: hsl(180deg, 29%, 50%);
}
body .container main .item-job .left-side .tags {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  border-bottom: 1px solid rgb(173, 170, 170);
  margin-top: 1em;
  padding-bottom: 1em;
}
@media only screen and (min-width: 1200px) {
  body .container main .item-job .left-side .tags {
    border: none;
  }
}
body .container main .item-job .left-side .tags span {
  color: hsl(180deg, 8%, 52%);
}
body .container main .item-job .left-side .tags span::after {
  content: "";
}
body .container main .item-job .right-side .langs-tools {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}
body .container main .item-job .right-side .langs-tools span {
  background-color: hsl(180deg, 52%, 96%);
  border-radius: 5px;
  color: hsl(180deg, 29%, 50%);
  font-weight: 700;
  padding: 0.33em 0.625em;
}
body .attribution {
  display: none;
  font-size: 11px;
  text-align: center;
}
body .attribution a {
  color: hsl(228deg, 45%, 44%);
}/*# sourceMappingURL=style.css.map */